.contact_list {
  display: grid;
  grid-template-columns: 1fr 64px 300px 1fr;
  width: 500px;
  gap: 20px;
}

.contact_icon {
  justify-self: end;
}

.contact_text_link {
  justify-self: start;
  align-self: center;
  font-size: 1.5rem;
}

.contact_text_link a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 830px) {
  .contact_list {
    display: grid;
    grid-template-columns: 1fr 60px 300px 1fr;
    width: unset;
    gap: 10px;
  }

  .contact_text_link {
    justify-self: start;
    align-self: center;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .contact_text_link {
    font-size: 1.3rem;
  }
}
