html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #3a58e9;
	font-family: 'Rubik', sans-serif;
}

body {
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
